.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.services-title{
    position: relative;
}

.services-title h1{
    padding: 0 30px;
    font-size: 50px;
    font-weight: 600;
}

.services-title img{
    position: absolute;
    bottom: -35px;
    right: 5%;
    z-index: -1;
}

.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 20px;
    border: 2px solid white;
    transition: 0.4s;
}

.services-format h3{
    font-size: 28px;
    font-weight: 600;
}

.services-format h2{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(270deg, yellow 50%, #B923E1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 80px;
}

.services-readmore{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.services-readmore p{
    margin: 0;
}

.services-readmore img{
    width: 24px;
    transition: transform 0.3s;
}

.services-readmore:hover img{
    transform: translateX(5px);
}

@media(max-width:768px){
    .services{
        align-items: start;
        gap: 70px;
        margin: 20px 70px;
    }
    .services-title h1{
        padding: 0;
        font-size: 40px;
    }
    .services-title img{
        width: 130px;
        right: 10%;
    }
    .services-format{
        gap: 20px;
        padding: 28px;
    }
    .services-format h2{
        font-size: 28px;
    }
    .services-format p{
        font-size: 18px;
        line-height: 32px;
        max-width: 350px;
    }
    .services-readmore img{
        width: 20px;
    }
    .services-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

@media(max-width:640px){
    .services{
        margin: 20px 50px;
    }
    .services-title h1{
        font-size: 35px;
    }
    .services-title img{
        width: 100px;
    }
    .services-format{
        padding: 20px;
    }
    .services-format h2{
        font-size: 24px;
    }
    .services-format p{
        font-size: 16px;
    }
}

@media(max-width:475px){
    .services{
        margin: 20px 30px;
        gap: 50px;
    }
    .services-title h1{
        font-size: 30px;
    }
    .services-title img{
        width: 80px;
        right: 0;
    }
    .services-format{
        padding: 15px;
        gap: 15px;
    }
    .services-format h2{
        font-size: 20px;
    }
    .services-format p{
        font-size: 14px;
        line-height: 24px;
    }
    .services-readmore img{
        width: 16px;
    }
    .services-container{
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
